{% load static %}
<div class="navbar-fixed ">
  
  <nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="/dashboard" class="brand-logo center">
        <img src="{% static 'main/img/pythonAgent.png' %}"  alt="User Icon"  style="height: 60px;width:60px;border: solid yellow;border-radius: 50%;background-color: yellow;"/>
      </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/tutorialsSeries">Tutorail Series</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
      </ul>
    </div>
  </nav>

  
  </div>